* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.heading-primary {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #d0bfff;
}

.form-add {
  position: relative;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 11px;
}

.input-add {
  border-radius: 11px;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  width: 400px;
}

.btn-add {
  position: absolute;
  right: 0;
  background-color: #ff8787;
}

.list-task {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 45%;
}

.item-task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.checkbox {
  cursor: pointer;
}

.task-name-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.task-name {
  font-size: 18px;
  margin-left: 20px;
}

.btn-edit {
  opacity: 0;
  background-color: #d0bfff;
}

.item-task:hover .btn-edit {
  opacity: 1;
  transition: all 0.3s;
}

.form-edit {
  margin-left: 10px;
  position: relative;
}

.input-edit {
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 9px;
  border: none;
}

.btn-confirm {
  background-color: #63e6be;
  position: absolute;
  right: 0;
}

.btn-delete {
  margin-left: 20px;
  background-color: #ff6b6b;
}

.completed-task {
  color: #777;
  text-decoration: line-through;
}

.btn-del-comp-tasks {
  font-weight: 700;
  background-color: #fa5252;
}
